*.txt
PaperScRock/Library/
PaperScRock/Logs/
PaperScRock/obj/
PaperScRock/.vs/
PaperScRock/Temp/FSTimeGet-3122717402c0f7e4194defddc2bbc9ca
PaperScRock/Temp/FSTimeGet-4bb7e6152b71df1408d520d7a3aefbfb
PaperScRock/Temp/FSTimeGet-a4674a5ee53615b47895544cebacf41d
PaperScRock/Temp/UnityLockfile
PaperScRock/Temp/workerlic
PaperScRock/Temp/__Backupscenes/0.backup
